extends ../layout
block content
	h1 Listing All Records For Aviary Inventory
	div
		form(method='post' action='/sessions/?_method=delete')
			input(type='submit' value='Logout')
	p
		a(href='/inventory/new') New Record
		
	table
		tr 
			th Species
			th Band ID
			th Hatch Date
			th Gender
			th Location
			th Available

		each item in inventory
			tr
				td= item.species
				td
					a(href='/inventory/#{item._id}')= item.band
				td= item.hatch
				td= item.gender
				td= item.locate
				td= item.available


