extends ../layout
block content
	a(href='/app/') All Records
	br
	a(href='/app/#{item._id}/edit') Edit Information
	br
	a(href='/app/new') New Record
	br
		

	h2 Species: #{item.species} | Name: #{item.pet} | Location: #{item.location} 

//-
	block content
		h2 #{item.species} #{hybridSpecies} | Band ID: #{item.band}
			p Sub-Species: #{subspecies} | Mutation: #{item.mutation} | Name: #{item.pet}
			p Hatched: #{item.hatch} | #{item.gender} | Father ID: #{item.dad} X Mother ID: #{item.mom}
			p Location: #{item.location} | Origin/Breeder: #{item.breeder} | Acquired from: #{item.acquired}
		h3 Identification and Notes
			p DNA ID: #{item.dna} | Microchip: #{item.chip} | Date Added to System: #{item.???}
			p Current Owner: #{item.owner} | Status: #{item.available} | 
				br **User or Profile Name
			p Notes: #{item.notes} 
			
				form(method='post' action='/app/#{item._id}?_method=delete')
					input(type='submit' value='Delete this Bird') 