extends ../layout
block content
	h1 Listing All Active Breeding Pairs
	p
		a(href='/pairs/new') New Record
	table
		tr 
			th Cage #
			th Species
			th Male
			th Female
			//-Pull just the year it was paired from the input date
			th Yr Paired 
			//-Pull from logs -collapsed "persistant data"
			th Chicks Produced
		each pair in pairs
			tr
				td
					a(href='/pairs/#{pair._id}/show')= pair.locate
				td= pair.species
				td= pair.maleBand
				td= pair.femaleBand
				//-Pull and Display just the Year from the date added
				td= pair.paired
				//-May need to pull data from logs
				td= pair.chicks