extends ../layout
block content
	br
	div
		h2 Single Pair
		div(class='show')
			//-p label Species: #{pair.species}
			label Cage#: #{pair.locate}
			label Father ID: #{pair.maleBand}
			label Mother ID: #{pair.femaleBand}
			label Date Paired: #{pair.paired}
			//-label Coefficient of Relations: #{pair.coefficient}
			label Notes: #{pair.notes}
			form(method='get' action='/pairs/#{pair._id}/edit')
				input(type='submit' value='Edit Record')
			form(method='post' action='/pairs/#{pair._id}?_method=delete')
				input(type='submit' value='Delete')