extends ../layout
block content
	a(href='/pairs/') All Records
	br
	a(href='/pairs/#{item._id}/edit') Edit Information
	br
	a(href='/pairs/new') New Pairing
	br
	form(method='post' action='/pairs/#{item._id}?_method=delete')
		input(type='submit' value='Delete')
	p
	h2 Species: #{item.species} | Cage#: #{item.location} | Father ID: #{item.band} | Mother ID: #{item.band}
	p
	h3 Date Paired: #{item.paired} |  